@import '../bower_components/material-design-lite/src/material-design-lite';
@import '../bower_components/select2/src/scss/core';
@import '../bower_components/pikaday/scss/pikaday';

body {
	font-family: 'Roboto','Helvetica','Arial',sans-serif!important;

	padding-top: 20px;
	background: #f0f0f0;

	.index-card {
		width: 100%;

		.mdl-card__title {
			color: #fff;
			height: 300px;
			background: url('../../images/1.jpg') center / cover;
		}

		.mdl-card__menu {
			color: #fff;
		}
	}

	.loading-bar, .index-card, .filter-form {
		background: #fff;
		padding: 30px 7px !important;
	}

	.filter-form {
		.block {
			display: block;
			width: 80%;
			margin: 0 auto;

			select {
				width: 100%;
			}

			.close {
			    box-sizing: border-box;
			}
		}
	}
}